<ul class="nav navbar-nav navbar-brand">
    <li>
        @Html.ActionLink("About", "Index", "About")
    </li>
    <li>
        @Html.ActionLink("Contact", "Index", "Contact")
    </li>
    <li>
        @Html.ActionLink("Services", "Index", "Services")
    </li>
    <li>
        @Html.ActionLink("Reservations", "Index", "Reservations")
    </li>
    <li>
        @Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" },new { @class="" })
    </li>
</ul>
