@model PetParadiseHotel.Infrastructure.Repository
@{
    ViewBag.Title = "Invoice";
}

<h2>Index</h2>

@foreach (var invoice in Model.Invoices)
{ <p>
        @Html.DisplayFor(m=>invoice.Customer.FirstName) @invoice.Customer.LastName <br />
        @invoice.Customer.Address<br />
        @invoice.Customer.Zip @invoice.Customer.City<br />

        @foreach (var item in invoice.OrderItems)
        {
            <p>
                
          @Html.LabelFor(m=>item.Specie) @Html.DisplayFor(m=>item.Specie)<br />
           @Html.LabelFor(m=>item.PetName): @Html.DisplayFor(m => item.PetName) <br />
            <strong>Period</strong>: @item.Arrival.ToString("D") to @item.Departure.ToString("D")<br />
                <strong>Days</strong>: @Html.DisplayFor(m=>item.Days)<br />
                <strong>Price</strong>:   @Html.DisplayFor(m => item.PricePerday) kr.per day <br />
                <strong>Price for the whole stay</strong>:   @Html.DisplayFor(m => invoice.TotalPrice) kr.

            </p>
        }
<strong>Employee</strong>: @Html.DisplayFor(m => invoice.Employee.FirstName), @Html.DisplayFor(m => invoice.Employee.Initials)
<hr />
    </p>
}