@model PetParadiseHotel.Infrastructure.Repository

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Species</th>
            <th>Name</th>
            <th>Arrival</th>
            <th>Owner</th>
            <th>Phone</th>

        </tr>
    </thead>
    @*going through all invoices*@
    @foreach (var invoice in Model.Invoices)
    {
        //going through all the items in OrderItem list
        foreach (var item in invoice.OrderItems)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Specie)</td>
                <td>@Html.DisplayFor(m => item.PetName)</td>
                <td>@item.Arrival.ToString("D")</td>
                <td>@Html.DisplayFor(m => invoice.Customer.FirstName)  @Html.DisplayFor(m => invoice.Customer.LastName)</td>
                <td>@Html.DisplayFor(m => invoice.Customer.Phone)</td>

            </tr>
        }

    }
</table>
@*calling the information from the render helper to display*@